


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#time {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.3em;
    color: #77aca1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: orange;
    font-size: 1.2rem;
}

a:hover {
    color: crimson;
}
/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 70px;
    padding-bottom: 38px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbg {
    height: 67px;
    border-radius: 45px;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 45px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar .logo a {
    font-size: 3.5rem;
    font-weight: bold;

}

.logo a {
    text-decoration: none;
    color: orange;
}
new {
    text-decoration: none;
    color: orange;
}
spin {
    text-decoration: none;
    color: orange;
}
.logopad {
    padding-top: 30px;
    position: relative;
}
.lnk {
    padding-top: 30px;
    font-style: bold;
    font-weight: 800;
    font-size: 25px;
}
.logo a:hover {
    scale: 1.05;
    color: teal;
}
new:hover {
    scale: 1.05;
    color: crimson;
}
now:hover {
    scale: 1.05;
    color: #75be25;
}
spin:hover {
    scale: 1.05;
    color: chartreuse;
}
.navbar .links {
    display: flex;
    gap: 2.5rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.0rem;
    cursor: pointer;
    display: none;
}
.but {
    margin-top: 35px;
    margin-right: 20px;
    color: #fff;
}

.action_btn {
    background-color: orange;
    border: none;
    outline: none;
    padding: 8px;
    
    border-radius: 20px;
    font-size: 1.0rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    overflow: hidden;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}
.action_btn:hover {
    scale: 1.05;
    color: black;
}

.action_btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 50px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    width: 60%;
    margin-left: 90px;
    height: 220px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
}
/*-----------------------Side Bar-------------------------------*/
.Side {
    height: 105vh; 
    width: 27%; 
    background-color: #444c47; 
    position: absolute; 
    top: 1px;
}
.num {
    font-size: 45vh;   
    padding-top: 120px; 
    padding-left: 97px;
    color: #2d3330;
}

.web {
    font-size: 5vh;
    position: absolute;
    bottom: 50vh;

    font-family: 'Kaushan Script', cursive;
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rock Salt', cursive;

    padding-left: 130px;
}
/* --------------------RESPONSIVE DESIGN ----------------------*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}


@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset; 
    }
    .but {
        margin-top: 40px;
        color: #fff;
    }
    .navbg {
        height: 40px;
        width: 335px;
        margin-top: 35px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 45px;
        overflow: hidden;
        transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }        
    .navbar {
        width: 90%;
        height: 60px;
        padding-bottom: 100px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logopad {
        padding-top: 35px;
        padding-left: 1px;
    }
    .navbar .logo a {
        font-size: 1.8rem;
        font-weight: bold;
        padding-right: 20px;
    }
    .Side {
        height: 114vh; 
        width: 40%; 
        background-color: #444c47; 
        position: absolute; 
        top: 1px;
    }
    .num {
        font-size: 35vh;   
        padding-top: 120px; 
        padding-left: 17px;
        color: #2d3330;
    }
    
    .web {
        font-size: 5vh;
        position: absolute;
        bottom: 25vh;
        color: #6b724b;
        font-family: 'Kaushan Script', cursive;
        font-family: 'Mr Dafoe', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Rock Salt', cursive;
    
        padding-left: 220px;
    }


    /* .body {
        display: block;
        height: 100vh;
        background-color: #000;
        background-image: url(https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=luca-bravo-zAjdgNXsMeg-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        box-shadow: 100% 100% 100% 100% black;
    } */
    
}






/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------ THiS is for line.html ------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------ */
